*{
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
    
}
#header ul .VN{
    padding: 0px;
    margin: 0px;
}
#header ul .EN{
    padding: 0px;
    margin: 0px;
}

#wrapper{
    width: 1200px;
    background-color: ivory;
    min-height: 100%;
    margin: auto;
}

#header{
    width: 100%;
    height: 41px;
    
    
}
#header ul{
    
    float: right;
    display: flex;
}


#header .lii{
    list-style: none;
    padding: 5px;
    margin: 5px 10px 5px 5px;
    font-size: 17px;
}
 
#header li a{
    text-decoration: none;
    color: black;
    
   
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

#navigation{
    width: 98.4%;
    height: 100px;
    border: 10px solid transparent;
    border-image: url(/nen-background-trang-dep-va-don-gian_110344503.jpg) 100 round;
}
#navigation ul{
    margin: auto;
    text-align: center;
    margin-left: 300px;
}
#navigation li{
    display: inline;
    padding: 20px;
    float: left;
    line-height: 59px;
    font-size: 18px;
    font-weight: bold;
    
    
    
}
#navigation .logo a img{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    margin-left: 17%;
    background-size: cover;
    image-rendering: pixelated;
    
    
}

#banner{
    max-width: 1200px;
    position: relative;
    height: 400px;
    margin-bottom: 80px;

}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: -19%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    right: -10%;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #banner .slideshow-container img{
    width: 1200px;
    height: 448px;
    background-size: cover;
  }
  /*=======================================*/

#selection{
    width: 100%;
    height: 400px;
    background: ivory;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div a img{
    width: 280px;
    height: 300px;
    background-size: cover;
    image-rendering: pixelated;

}
#selection div{
    float: left;
    padding: 10px;
    margin-top: 3%;
}
#selection h1{
     
}
h1{
    font-family: cursive;
    font-size: 35px;
    
}
#event{
    width: 100%;
    height: 771px;
    background-color: ivory;
}
#event .Tinmoi {
   text-align: center;
   margin: auto;
}
#event .row{
    float: left;
    padding: 10px;
    

}
.event-hr{

}
#event .Tinmoi a{
    background-color: red;
    color: white;
    padding: 6px;
    border: 1px solid red;
    border-radius: 70px 20px;
}
#event .border img{
    width: 500px;
    margin: 50px 0 10px 50px;
    background-size: cover;
    padding: 3px;
    
    
    
    border: 2px solid black;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

#event .event-hr{
   background-color: black;
   border: 2px solid black;
}
#footer{
    background-color: ivory;
    width: 100%;
    height: 600px;
    font-size: 18px;
}
#footer .footer-icon{
    margin-left: 20%;
    padding: 20px 0 0 20px;
}
#footer a{
    margin: auto;
}
.footer-icon a img{
    width: 100px;
    height: 50px;
    margin: 0 0 13px 0;
}


#footer hr{
    border: 1.2px solid black;
}

.footer-lienket{
    margin-top: 20px;
}
.footer-lienket--CGV ul{
    float: left;
    width: 250px;
}

.footer-lienket--dieukhoan ul{
    float: left;
    width: 250px;
}

.footer-lienket--ketnoi ul{
    float: left;
    width: 250px;

}
.footer-lienket--ketnoi li>a>img{
    width: 30px;
    height: 30px;
    float: left;
    padding: 2px;
}

.img-chamsoc a img{
    width: 165px;
    height: 100px;
}

.footer-lienket--chamsoc{
    float: left;
    width: 250px;
}

.footer-congty{
    margin-top: 10px;
}
.footer-congty--img img{
    width: 150px;
    height: 100px;
    margin: 10px 0 0 30px;
    float: left;
    

}
.border img:hover{
   opacity: 0.3;
}
.footer-congty--tt {
    float: left;
    margin-left: 30px;
    width: 950px;
}
.footer-congty--tt p{
    font-size: 18px;
}

.footer-gach img{
    width: 100%;
    height: 200px;
    background-size: cover;
    image-rendering: pixelated;
    
}
.form-language{
    margin-top: 11px;
}
.form-language ul li{
    float: right;
    
    
}
.form-language ul{
    padding: 0px;
}

span{
    color: black;
    background-color: orangered;
    border: 5px solid orangered;
    border-radius: 5px 0 0 5px;
    border-width: 3px 8px;
}
.form-language ul li a{
    color: black;
    background-color: grey;
    border: 5px solid grey;
    border-radius: 0 5px 5px 0;
    border-width: 3px 8px;
    
}
